@import "bootstrap/scss/bootstrap";

body {
  background-color: $gray-300;
}

#left-lane {
  background-color: $blue-700;
  width: 350px;
}

#my-face {
  display: block;
  max-width: 270px;
  width: auto;
  height: auto;
}

#header {
  background-color: $gray-700;
  padding: $spacer * 1.75;
  a {
    @extend .text-white;
    @extend .text-decoration-none;
  }
}

.star {
  color: $yellow-500;
}
