<div class="d-flex mb-2 mt-3">
  <div id="university" class="border border-3 rounded-pill"><i class="bi-bank2"></i></div>
  <div class="ms-2 d-flex align-items-center">
    <div class="fs-4">EDUCATION</div>
  </div>
</div>

{{#each education}}
  <div class="d-flex">
    <div class="pill"><i class="bi-circle-fill"></i></div>
    <div class="d-flex flex-grow-1">
      <div class="fs-5">{{ title }}</div>
      <div class="d-flex flex-grow-1 justify-content-end align-items-center">
        <div class="ms-3"><i class="bi-calendar3"></i> {{ concluded }}</div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="side"></div>
    <div>
      <div class="mb-5">{{ entity }} - {{ locale }}</div>
    </div>
  </div>
{{/each}}
