<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ name }}</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
{{#with content}}
  <div class="container">
    <div class="rounded shadow w-100 my-4 d-flex bg-white">
      {{>left}}
      <div class="flex-grow-1">
        {{>header}}
        <div class="p-5">
          {{>experiences}}
          {{>education}}
        </div>
      </div>
    </div>
  </div>
{{/with}}
</body>
</html>
